*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
}
/*navbar*/
#navbar {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
}
#navbar:before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*navbar: logo & images*/
#logo {
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
}
#logo img {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}
/*navbar: list*/
#navbar ul {
    display: flex;
    width: 35%;
}
#navbar ul li {
    list-style: none;
    font-size: 15px;
    margin: 0 2%;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    font-family:  'Roboto', sans-serif;
    color: rgb(17,50,40);
}
#navbar ul li a:hover {
    color: rgb(8, 187, 139);
    text-decoration: underline;
}
.signin {
    display: block;
    text-align: center;
    height: 40px;
    width: 8%;
    margin-left: 18%;
}
.signin a {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 10px;
}
.signin a:hover {
    color: rgb(8, 187, 139);
    border-color: rgb(8, 187, 139);
}
.demo {
    display: block;
    text-align: center;
    height: 40px;
    width: 12%;
    margin-left: 1%;
}
.demo a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(53,116,214);
    border-radius: 40px;
    padding: 10px 10px;
}
.demo a:hover {
    background-color: rgb(46,100,185);
}
.search {
    margin-left: 1%;
}
.search img {
    height: 20px;
    width: 20px;
}



.main-button-demo{
    width: 180px;
    height: 30px;
    border: 1px solid #3574d6;
    border-radius: 30px;
    background-color: #3574d6;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.main-button-demo:hover {
    background-color: rgb(46,100,185);
}


/* main */


section{
    min-width: 1024px;
    height:721px;
}
section > .flex{
    width:96%;
    height:100%;
    margin-left:4%;
    display: flex;
}
section > .flex > .sdiv{
    width:42%;
    height:100%;
    margin-left:4%;
    margin-right:4%;
    margin:auto;
  
}
.a-img{
    width:100%;
    height:100%;
}
.big-font{
    font-size: 6.9vw;
    padding:0px;
    margin:0px;
    font-weight:normal;
    line-height: 6.9vw;
    color:#15372c;
    font-family:Georgia, serif;
   
}
.sdiv > p:nth-child(1){
margin-top:140px
}
.one5{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.tcg{
color:#008571
}
.one9{
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
}
section .flex > .sdiv > p + h2 + h2 + p{
    margin-top:60px;
    width:65%;
   
}
.a-demo{
    width:200px;
    height:50px;
    border-radius: 50px;
    background-color: #3474d6;
    text-align: center;
}
.a-demo h5{
    padding-top:16px;
    color:#ffffff;
    font-size: 16px;
    font-weight: normal;
}
.a-demo a{
    text-decoration: none;
}
.a-demo:hover{
    background-color:#347 ;
}

.a-container{
    min-width: 1024px;
    
    
}
#page-2{
    background-color: #f5f5f5;  
}
#page-2 > div{
    margin-left:4%;
    width:92%;
    

}
.grid{
    width:85%;
    margin:auto;
    display:grid;
    grid-template-areas:"ag  bg cg"
                        "dg  eg fg";
    text-align: center;}


#grid-a{
    grid-area:ag;
    border-bottom:1px solid #b1dbd0;
    border-right:1px solid #b1dbd0;
}
#grid-b{
    grid-area:bg;
    border-bottom:1px solid #b1dbd0;
    border-right:1px solid #b1dbd0;
    
}
#grid-c{
    grid-area:cg;
    border-bottom:1px solid #b1dbd0;
   
}
#grid-d{
    grid-area:dg;
    border-right:1px solid #b1dbd0;
    
}
#grid-e{
    grid-area:eg;
    border-right:1px solid #b1dbd0;

}
#grid-f{
    grid-area:fg;
   

}

#page-2 > div > h2{
    width:70%;
    margin-left:4%;
    margin-bottom: 100px;;
    
}
.five6{
    font-size:56px;
    font-weight: normal;
    font-family:Georgia, serif;
    line-height: 56px;
}
#page-2 .grid > div:nth-child(odd){
    padding:60px 30px;


}
.bgblack{
    background-color: green;
}
#grid-e + div{
    padding:60px;
}
#page-2 > div:nth-child(1)
{
    padding-top:60px;
}
.sev0{
    font-size: 70px;;
    line-height:75px;
    font-family: normal;
    font-weight: normal;
}
.a-container > div{
    margin-left:4%;
    width:96%;
    
   
}
#page-4 > div:nth-child(1) > h2{
    margin-left:4%;
    width:94%;
    
}

.flex{
    display: flex;
    width:100%;
  
}
.flex > div{
    width:42%;
    margin:auto;
    padding:0px;
  

    
}
.four6{
    font-size: 46px;
    line-height: 56px;
    font-weight: normal;
    font-family: Georgia, serif;
}





    
    

.a-container ul > li{
    margin-right:25%
}
.a-container > .flex p{
    margin-right: 24%;;
}
#page-8 h2{
    margin-right: 26    px;;
}


#page-10{
    min-width:1024px;

}

#page-10 > div{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    width:92%;
    margin:auto;
    
}
#page-10{
    
   margin-bottom: 160px;;
    
}
#page-10 > div > div:nth-child(1)
{
    border-right:1px solid #b1dbd0;
}
#page-10 > div > div:nth-child(1) > h2,#page-10 > div > div:nth-child(1) > p{
    width:77.0%;
    padding-left:5.8%;

}
#page-10 > div > div:nth-child(2) > h2{
    width:75%;
    padding-left:20%;
}
#page-10 > div > div:nth-child(2) > p{
    width:78%;
    padding-left:20%;
}
#page-10 a{
    color:#008561;

}

#page-10 a:hover{
    text-decoration: none;
}
span{
    padding-left:20px;
}
#page-11{
    background-color: #f5f5f5;
    padding-bottom: 120px;
}
#page-11 > div:nth-child(1) > h2{
    margin-left:3%;
    width:82%;
    padding-top:80px;
    padding-bottom: 60px;;
}
#page-11 > .grid2{
    display:grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    background-color: #b1dbd0;
    margin:auto;
    gap:1px;
    margin-bottom: 100px;;
}

.three4{
    font-size: 34px;;
    line-height: 43px;
    font-family: Georgia, serif;
}
.one3{
    font-size: 13px;
    line-height: 21px;
   
}
.grid2 > div{
   background-color: #f5f5f5;
    
    padding:0px 24%;
    
}

#page-11 > div:nth-last-child(1){
    margin-top:80px;
    width:200px;
   
    text-align: center;
    margin:auto;
    
}
.a-btn2{
    width:200px;
    height:50px;
    border-radius: 50px;
    text-align: center;
}
.dgreen{
    background-color: #008561;
}
.a-btn2 h5{
    padding-top:15px;
}
.one6{
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;;
}
.twhite{
    color:#ffffff;
}
.a-btn2 a{
    text-decoration: none;
}
.a-btn2:hover{
    background-color:#008291;
}
.tdgreen{
    
Color:#4cb398;
}

.darkg{
    background-color: #15372c;
    
    
}
.darkg > div{
   width:100%;
   text-align: center;
}
.darkg h2{
    margin-top:0px;
}
.darkg p{
    margin-left:80px;
}
.three4{
    font-weight: normal;
}

/*Footer css apply */


.footer{
    width: 100%;
    background-color: #15372c;
    color: white;
    padding-top: 8%;
}
.container{
    width: 100%;
    height: 100%;
    margin-left: 12%;
    /* display: flex;
    flex-flow: row wrap; */
}
.footer-content{
    width: 250px;
    float: left;
    /* display: flex;
    flex-flow: row wrap; */
}
.footer-content>div>a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.footer-content>div>h3{
    color: #4cb398;
}
.footer-content-right{
    width: 350px;
    font-size: 20px;
    color: white;
    float: left;
}
.form{
    margin-top: 50px;
}
.form > input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
.form>button{
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 15px;
    background-color:#15372c; 
    color: white;
}
.language-choose{
    margin-top: 50px;
}
.option{
    width: 300px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #15372c;
    color: white;
    padding-left: 40px;
}
.footer-social-link{
    margin-top: 60px;
}
.footer-social-link>a{
    text-decoration: none;
    margin: 10px;
}
.footer-bottom{
    width: 80%;
    height: 50px;
    margin-top: 50px;
}
.footer-bottom>p{
    float: left;
}
.footer-bottom>a{
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    color: white;
}
.clear{
    clear:both;
}

#varticle h5{
    padding-left:23px;
    padding-right:15px;
}
.box-demo{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
}
.box-demo-img{
    width: 50%;
    height: 500px;
}
.box-demo-img>img{
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
.box-demo-content{
    width: 50%;
    height: 100%;
    text-align: center;
}
.box-demo-content>h2{
    font-size: 60px;
    text-align: left;
    margin-left: 20%;
    margin-top: 30%;
}
.button-demo{
    width: 250px;
    height: 40px;
    border: 1px solid #3574d6;
    border-radius: 30px;
    background-color: #3574d6;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-right: 20%;
}
body{
    overflow-x: hidden;
}
#page-10{
margin-top:120px;
}
